name: Solar System WorkFlow

on:
    workflow_dispatch:
    push:
        branches:
            - main
            - 'feature/*'

env:
    MONGO_URI: 'mongodb+srv://supercluster.d83jj.mongodb.net/superData'
    MONGO_USERNAME: ${{ vars.MONGO_USERNAME }}
    MONGO_PASSWORD: ${{ secrets.MONGO_PASSWORD }}


jobs:
    unit-testing:
        name: unit-testing
        services:
          mongo-db:
            image: siddharth67/mongo-db:non-prod
            ports:
              - 27017:27017
        env:
            MONGO_URI: 'mongodb://localhost:27017/superData'
            MONGO_USERNAME: non-prod-user
            MONGO_PASSWORD: non-prod-password

        strategy:
          matrix:
            nodejs_version: [18]
            operating_system: [ubuntu-latest, macos-latest]
            exclude:
              - nodejs_version: 18
                operating_system: macos-latest
        runs-on: ${{ matrix.operating_system}}

        steps:
        - name: checkout repository 
          uses: actions/checkout@v4
        
        - name: setup NodeJs Version - ${{ matrix.nodejs_version }}
          uses: actions/setup-node@v3
          with:
            node-version: ${{ matrix.nodejs_version }}

        - name: cache NPM dependencies
          uses: actions/cache@v4
          with:
            path: node_modules
            key: ${{ runner.os }}-node_modules-${{ hashFiles('**/package-lock.json') }}

        - name: Install Dependencies
          run: npm install
               
        - name: Unit Testing
          id: nodejs-unit-testing-step
          run: npm test 

        - name: Archive test Result
          if: always()
          uses: actions/upload-artifact@v4
          with:
            name: Mocha-Test-Result - ${{ matrix.operating_system }}-${{ matrix.nodejs_version }}
            path: test-results.xml

    code-coverage:
        name: code-coverage
        container: 
          image: node:18
        
        services:
          mongo-db:
            image: siddharth67/mongo-db:non-prod
            options:
              --name mongo
        env:
            MONGO_URI: 'mongodb://mongo:27017/superData'
            MONGO_USERNAME: non-prod-user
            MONGO_PASSWORD: non-prod-password

        runs-on: ubuntu-latest
        steps:
        - name: checkout repository 
          uses: actions/checkout@v4
        
        # - name: setup NodeJs Version - 18
        #   uses: actions/setup-node@v3
        #   with:
        #     node-version: 18
          
        - name: cache NPM dependencies
          uses: actions/cache@v4
          with:
            path: node_modules
            key: ${{ runner.os }}-node_modules-${{ hashFiles('**/package-lock.json') }}

        - name: Install Dependencies
          run: npm install
        
        - name: Check Code Coverage
          continue-on-error: true
          run: npm run coverage
        
        - name: Archive test Result
          uses: actions/upload-artifact@v4
          with:
            name: code-coverage-result
            path: coverage
            retention-days: 5 
    
    docker:
        name: Containerization
        needs: [unit-testing, code-coverage]
        permissions: 
            packages: write
        runs-on: ubuntu-latest
        steps:
        - name: Checkout Repo
          uses: actions/checkout@v3

        - name: Login to Docker Hub
          uses: docker/login-action@v3
          with:
            username: ${{ vars.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_PASSWORD }}

        - name: GHCR Login 
          uses: docker/login-action@v3
          with:
            registry: ghcr.io
            username: ${{ github.repository_owner }}
            password: ${{ secrets.GITHUB_TOKEN }}

        - name: Docker build for Testing
          uses: docker/build-push-action@v4
          with: 
            context: .
            push: false
            tags: ${{ vars.DOCKERHUB_USERNAME}}/solar-system-universe:${{ github.sha}}

        - name: Docker Image Testing
          run: |
            docker images
            docker run --name solar-system-appy -d \
                -p 3000:3000 \
                -e MONGO_URI=$MONGO_URI \
                -e MONGO_USERNAME=$MONGO_USERNAME \
                -e MONGO_PASSWORD=$MONGO_PASSWORD \
                ${{ vars.DOCKERHUB_USERNAME}}/solar-system-universe:${{ github.sha}}
            
            export IP=$(docker inspect -f '{{range.NetworkSettings.Networks}}{{.IPAddress}}{{end}}' solar-system-appy)
            echo $IP

            echo Testing Image URL using wget 
            wget -q -O - 127.0.0.1:3000/live | grep live

        - name: Container Registry push
          uses: docker/build-push-action@v4
          with: 
            context: .
            push: true
            tags: |
                ${{ vars.DOCKERHUB_USERNAME}}/solar-system-universe:${{ github.sha}}
                ghcr.io/${{ github.repository_owner }}/solar-system-universe:${{ github.sha}}

    dev-deploy:
      if: contains(github.ref, 'feature/')
      needs: docker
      uses: srikanth240695/solar-system-universe/.github/workflows/reuse-deploy.yml@feature/exploring-workflows
      secrets:
        mangodb-password: ${{ secrets.MONGO_PASSWORD }}
      with:
        mongodb-uri: ${{ vars.MONGO_URI}}
        environment: development
        k8s-manifest-dir: kubernetes/development

    dev-Integration-testing:
        if: contains(github.ref, 'feature/')
        name: Dev Integration Testing
        needs: dev-deploy
        environment: 
            name: development
        runs-on: ubuntu-latest
        steps:
        - name: Check test result
          env:
            URL: ${{ needs.dev-deploy.outputs.APP_INGRESS_URL }}
          run: |
            echo "Test result from previous job: ${{ needs.dev-deploy.outputs.TEST_RESULT }}"
            echo "Application URL: ${{ needs.dev-deploy.outputs.APP_INGRESS_URL }}"
            echo "Using namespace: ${{ vars.NAMESPACE }}"
            
            if [ "${{ needs.dev-deploy.outputs.TEST_RESULT }}" == "success" ]; then
            echo "✅ Application is working properly!"
            else
            echo "❌ Application test failed in previous job"
            exit 1  # Fail this job if the test failed
            fi

        

        # - name: Test application with port-forward
        #   run: |
        #     # Start port forwarding in the background
        #     kubectl port-forward -n default service/solar-system 8080:3000 &
        #     PF_PID=$!
            
        #     # Give it a moment to establish
        #     sleep 5
            
        #     echo "Testing application on port 8080..."
        #     curl -v --max-time 10 http://localhost:8080
            
        #     # Capture the exit code
        #     CURL_EXIT=$?
            
        #     # Stop port forwarding
        #     kill $PF_PID || true
            
        #     # Report success/failure
        #     if [ $CURL_EXIT -eq 0 ]; then
        #     echo "✅ Application is working!"
        #     else
        #     echo "❌ Could not connect to application"
        #     exit 1
        #     fi

        # - name: Save nginx Ingress controller IP as a GITHUB Environment Variable
        #   run: |
        #     echo "INGRESS_IP = $(kubectl -n ingress-nginx get services ingress-nginx-controller -o jsonpath= "{.status.loadBalancer.ingress[0].ip}")" >> $GITHUB_ENV

        # - name: Replace token in Manifest files
        #   uses: cschleiden/replace-tokens@v1
        #   with:
        #     tokenPrefix: '_{_'
        #     tokenSuffix: '_}_'
        #     files: '["kubernetes\development\*.yaml"]'
        #   env:
        #     NAMESPACE: ${{ vars.NAMESPACE }}
        #     REPLICAS: ${{ vars.REPLICAS }}
        #     IMAGE: ${{ vars.DOCKERHUB_USERNAME}}/solar-system:${{ github.sha}}
        #     INGRESS_IP: ${{ env.INGRESS_IP}} 

        # - name: set kubeconfig
        #   uses: azure/k8s-set-context@v4
        #   with:
        #     method: kubeconfig
        #     kubeconfig: ${{ secrets.KUBECONFIG }}

        # - name: Fetch kubernetes cluster details
        #   run: |
        #     kubectl version 
        #     echo -----------------------
        #     kubectl get nodes

    prod-deploy:
      if: github.ref == 'refs/heads/main'
      needs: docker
      uses: srikanth240695/solar-system-universe/.github/workflows/reuse-deploy.yml@feature/exploring-workflows
      secrets:
        mangodb-password: ${{ secrets.MONGO_PASSWORD }}
      with:
        mongodb-uri: ${{ vars.MONGO_URI}}
        environment: production
        k8s-manifest-dir: kubernetes/production
      #   k8s-manifest-dir: kubernetes/development/
      #   kubectl-version: v1.32.0
      # secrets: 
      #   k8s-kubeconfig: ${{ secrets.KUBECONFIG }}
      #   mangodb-password: ${{ secrets.MONGO_PASSWORD }}
      
    Prod-Integration-testing:
        if: github.ref == 'refs/heads/main'
        name: Prod Integration Testing
        needs: prod-deploy
        environment: 
            name: production
        runs-on: ubuntu-latest
        steps:
        - name: Check test result
          env:
            URL: ${{ needs.prod-deploy.outputs.APP_INGRESS_URL }}
          run: |
            echo "Test result from previous job: ${{ needs.prod-deploy.outputs.TEST_RESULT }}"
            echo "Application URL: ${{ needs.prod-deploy.outputs.APP_INGRESS_URL }}"
            echo "Using namespace: ${{ vars.NAMESPACE }}"
            
            if [ "${{ needs.prod-deploy.outputs.TEST_RESULT }}" == "success" ]; then
            echo "✅ Application is working properly!"
            else
            echo "❌ Application test failed in previous job"
            exit 1  # Fail this job if the test failed
            fi
